<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @registration.student.nome %>
</p>

<p>
  <strong>Course:</strong>
  <%= @registration.course.nome %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
