<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @student.matricula %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @student.senha %>
</p>

<h3>Contatos:</h3>
<% for contato in @student.contacts %>
    <%= contato.tipo %>: <%= contato.valor %>
    <br>
<% end %>

<h3>Inscrições:</h3>
<% for inscricao in @student.registrations %>
    <%= inscricao.course.nome %>
    <br>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
