<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.nome %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @course.dia %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @course.carga_horaria %>
</p>

<p>
  <strong>Instrutor:</strong>
  <%= @course.instructor.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @course.instructor.matricula %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @course.instructor.senha %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
